aiohttp==3.8.1
aiosignal==1.2.0
argcomplete==2.0.0
async-timeout==4.0.2
attrs==21.4.0
beautifulsoup4==4.11.1
catkin-pkg==0.4.24
catkin-tools==0.8.2
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.1.3
colorlog==6.7.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.5
distro==1.7.0
docutils==0.18.1
filelock==3.8.0
Flask==2.1.2
Flask-Cors==3.0.10
fortran-language-server==1.12.0
frozenlist==1.3.1
future==0.18.2
Glances==3.2.7
greenlet==1.1.2
idna==3.3
importlib-metadata==4.11.4
iniconfig==1.1.1
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.6.0
Markdown==3.3.7
MarkupSafe==2.1.1
msgpack==1.0.4
multidict==6.0.2
neovim==0.3.1
nox==2022.8.7
numpy==1.23.5
orjson==3.7.0
osrf-pycommon==1.0.0
packaging==21.3
pipenv==2022.8.5
pipx==1.1.0
platformdirs==2.5.2
pluggy==1.0.0
protobuf==4.21.1
psutil==5.9.1
py==1.11.0
py-cord==2.0.0
PyAudio==0.2.11
pycairo==1.20.1
pydantic==1.9.2
PyGObject==3.42.0
pynvim==0.4.3
pyparsing==3.0.7
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQt6==6.3.0
PyQt6-Qt6==6.3.0
PyQt6-sip==13.3.1
pyrsistent==0.18.1
PySimpleGUI==4.59.0
PySocks==1.7.1
pytest==7.1.2
python-dateutil==2.8.2
python-dotenv==0.20.0
PyYAML==6.0
requests==2.27.1
Send2Trash==1.8.0
six==1.16.0
soupsieve==2.3.2.post1
tk==0.1.0
tomli==2.0.1
typing_extensions==4.3.0
urllib3==1.26.9
userpath==1.8.0
virtualenv==20.16.3
virtualenv-clone==0.5.7
waitress==2.1.2
Werkzeug==2.1.2
yarl==1.8.1
zipp==3.8.0
